html{
    cursor: url('/assets/scope.png'), auto;
    
}


body{
    margin: auto 0;
    background: url(./assets/background4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-zone{
    font-size: 1em;
    /* background-color: #a80004; */
    background-color: #808080;
    border-radius: 2%;
    border: 20px, solid, blue;
    /* color:#bbbb00; */
    color:#ffffff;
    font-family: 'Special Elite', cursive;

    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;

}


.main-nav{
    display:flex;
    padding:0;
    list-style: none;
    justify-content: flex-end;
  
}

/* Media Query- USE THESE PROPERTIES WHEN MAX WIDTH = 600 PX */
@media only screen and (max-width:500px){
    .main-nav{
        font-size: 0.6em;
        padding: 0;
    }
}

.push{
    margin-right: auto;
}

li{
    padding:.5em;
}

li:hover{
   font-weight: bold;
    color: red;
}