.body{
    background-color: blue;
}


/* Common formula for sticky nav bar */
.sticky{
    position: fixed;
    top:0;
    width:100%
}

/* NAV */
.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}



/* Media Query- USE THESE PROPERTIES WHEN MAX WIDTH = 600 PX */
@media only screen and (max-width:600px){
    .main-nav{
        font-size: 0.5em;
        padding: 0;
    }
}
.push{
    margin-left: auto;
}